@font-face {
    font-family: 'ElektraLightPro';
    src: url('../fonts/ElektraLightPro.eot');
    src: url('../fonts/ElektraLightPro.eot') format('embedded-opentype'),
         url('../fonts/ElektraLightPro.woff2') format('woff2'),
         url('../fonts/ElektraLightPro.woff') format('woff'),
         url('../fonts/ElektraLightPro.ttf') format('truetype'),
         url('../fonts/ElektraLightPro.svg#ElektraLightPro') format('svg');
}
@font-face {
    font-family: 'ElektraLightProBold';
    src: url('../fonts/ElektraLightProBold.eot');
    src: url('../fonts/ElektraLightProBold.eot') format('embedded-opentype'),
         url('../fonts/ElektraLightProBold.woff2') format('woff2'),
         url('../fonts/ElektraLightProBold.woff') format('woff'),
         url('../fonts/ElektraLightProBold.ttf') format('truetype'),
         url('../fonts/ElektraLightProBold.svg#ElektraLightProBold') format('svg');
}
