// Clearfix
@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    
    &:after {
        clear: both;
    }
}

// Transition
@mixin transition($property: all, $duration: .2s, $timing-function: linear) {
    -webkit-transition: $property $duration $timing-function;
    -o-transition: $property $duration $timing-function;
    -moz-transition: $property $duration $timing-function;
    -ms-transition: $property $duration $timing-function;
    -kthtml-transition: $property $duration $timing-function;
    transition: $property $duration $timing-function;
}

// Flexbox
@mixin flexbox($position) {
    display: -webkit-box;       /* OLD - iOS 6-, Safari 3.1-6 */
    display:    -moz-box;       /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;       /* TWEENER - IE 10 */
    display: -webkit-flex;      /* NEW - Chrome */
    display:         flex;      /* NEW, Spec - Opera 12.1, Firefox 20+ */
    align-items: $position;
    justify-content: $position;
}

// Запрет выделения
%no-select {
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-drag: none;
    touch-action: pan-x pan-y;
}
