.app {
    display: block;
}
.app {
    width: 90px;
    height: 32px;
    display: block;
}
.app__text {
    display: none;
}
.app_appstore {
    background: url(../img/app_appstore.png) center no-repeat;
}
.app_gplay {
    background: url(../img/app_gplay.png) center no-repeat;
}