.field__name,
.field__value {
    display: inline;
}

/* Товары линиями */
.catalog_style_rows {

    .field {
        display: inline;
    }
    .field__name,
    .field__value {
        position: relative;
        padding-right: 5px;
        white-space: nowrap;
    }
    .field__name:after {
        position: absolute;
        right: 5px;
        bottom: -1px;
        content: ':';
        display: block;
    }
    .field:not(:last-child) .field__value:after {
        position: absolute;
        right: 1px;
        bottom: -1px;
        content: ',';
        display: block;
    }

}

/* Товары сеткой */
.catalog_style_grid {

    .field {
        margin-bottom: 7px;

        @include clearfix;

        &:last-child {
            margin-bottom: 0;
        }
    }
    .field__name {
        float: left;
    }
    .field__value {
        float: right;
    }

}
